<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>


<div class="container-base">

  <div class="content-page">
      <div class="card-header">
          <div class="card-title">
              Cadastro de Despesa
          </div>
      </div>

      <form class="form-page" >

          <div class="row">
              <div class="group-row">
                  <label>Sistema</label>
                  <input type="text" name="name" id="name" placeholder="Nome" formControlName="name" required />

              </div>
          </div>

          <div class="row">
              <div class="group-row">
                  <input type="submit" value="Salvar" class="btn-primary" />
              </div>
          </div>

      </form>

  </div>

</div>
